@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body{
	text-align: center;
	background: FloralWhite;
	font-family: 'Nanum Gothic',sans-serif;
}

#submitBtn{
	padding:10px 30px;
	border-radius: 10px;
	background-color:orangered;
	font-size: 20px;
	font-weight: 800;
	border: 3px solid orangered;
	color:white;
	margin-top: 20px;
	width:300px;
}

table{
	margin : auto;
}

#dashTbl, #dashTbl th, #dashTbl td {
	border:1.5px solid orangered;
	border-collapse: collapse;
}

#dashTbl th, #dashTbl td{
	padding:15px;
	font-size: 20px;
}
select{
	padding:7px;
	font-size:15px;
}

td{
	padding:10px 15px;
	text-align:left;
}

label{
	font-weight: bold;
	font-size: 17px;
}

input[type="text"], input[type="number"]{
	padding:10px;
	border-radius: 10px;
	border: 2px solid LightSalmon;
}
input[type="text"]:focus, input[type="number"]:focus{
	outline: none;
	box-shadow: 2px 2px 2px  rgba(0,0,0,.2)
}